# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dist/
build/

# Mac
.DS_Store

# IDE / System
.gemini/
.vscode/
.idea/

# Temporary / Local Data
tmp/
*.log
.env
src/data/backups/
